.hero {
    background-color: #014E56;
    padding-top: 133px;

    &__container {
        max-width: 1110px;
    }

    &__wrapper {}

    &__inner-wrapper {}

    &__item {
        display: flex;
        align-items: baseline;
    }

    &__list {


        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 200px;
            height: 200px;
            background-image: url(./../images/disk-left.svg);
            right: calc(50% - -474px);
            background-repeat: no-repeat;
        }
    }

    &__heading {
        position: relative;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 100px;
        color: #FFFFFF;
        width: 620px;
        margin-bottom: 100px;

        &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 4px;
            background: #79C8C7;
            left: 100%;
            top: 0;


        }

    }

    &__span {
        color: #F67E7E;
    }

    &__text {
        position: relative;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        width: 445px;
        margin-bottom: 255px;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 400px;
            height: 400px;
            background-image: url(./../images/Group.svg);
            left: calc(50% - 157px);
            top: calc(238%);
            background-repeat: no-repeat;

        }

        &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 44px;
            background-image: url(./../images/liniya.svg);
            right: 63%;
            top: 237%;
        }

    }
}

@media only screen and (max-width:1044px) {
    .hero {
        &__text {
            &::before {
                left: calc(50% - 150px);
                top: calc(209%);
            }

            &::after {
                right: 68%;
                top: 229%;
            }
        }
    }
}
@media only screen and (max-width:970px) {
    .hero {
        &__text {

            &::before {
                left: calc(50% - 227px);
                top: calc(192%);
            }

            &::after {
                right: 92%;
                top: 193%;
            }
        }
    }

}

@media only screen and (max-width:925px) {
    .hero {
        &__text {

            &::before {
                left: calc(50% - 226px);
                top: calc(179%);
            }

            &::after {
                right: 101%;
                top: 177%;
            }
        }
    }

}
@media only screen and (max-width:768px) {
    .hero {
        padding-top: 122px;

        &__container {
            max-width: 683px;
        }

        &__inner-wrapper {
            text-align: center;
            margin: 0 auto;
        }

        &__item {
            display: inline-block;

        }

        &__list {


            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 200px;
                height: 200px;
                background-image: url(./../images/disk-left.svg);
                right: calc(50% - -474px);
                background-repeat: no-repeat;
            }
        }

        &__heading {
            font-size: 64px;
            width: 683px;
            margin-bottom: 24px;

            &::after {
                display: contents;



            }

        }

        &__span {
            color: #F67E7E;
        }

        &__text {
            width: 457px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 256px;


            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 400px;
                height: 400px;
                background-image: url(./../images/Group.svg);
                left: calc(50% - 157px);
                top: calc(238%);
                background-repeat: no-repeat;

            }

            &::after {
                content: "";
                position: absolute;
                width: 100px;
                height: 44px;
                background-image: url(./../images/liniya.svg);
                right: 63%;
                top: 237%;
            }

        }
    }
}

@media only screen and (max-width:600px) {
    .hero {
        padding-top: 80px;

        &__container {
            max-width: 375px;
        }

        &__inner-wrapper {
            text-align: center;
            margin: 0 auto;
        }

        &__item {
            display: inline-block;

        }

        &__list {


            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 200px;
                height: 200px;
                background-image: url(./../images/disk-left.svg);
                right: calc(50% - -474px);
                background-repeat: no-repeat;
            }
        }

        &__heading {
            font-size: 40px;
            line-height: 40px;
            // ogkpkg
            margin-bottom: 18px;
            width: 327px;
            text-align: center;

            &::after {
                display: contents;



            }

        }

        &__span {
            color: #F67E7E;
        }

        &__text {
            width: 327px;
            font-size: 15px;
            line-height: 28px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 150px;


            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 358px;
                height: 200px;
                background-image: url(./../images/Group.svg);
                left: calc(50% - 157px);
                top: calc(144%);
                background-repeat: no-repeat;

            }

            &::after {
                right: 73%;
                top: 156%;
            }

        }
    }
}


