.marketing {
    background-color: #012F34;


    &__container {
        max-width: 1110px;
    }

    &__wrapper {}

    &__inner-wrapper {}

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {}

    &__heading {
        position: relative;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
        width: 445px;

        &::before {
            content: "";
            position: absolute;
            width: 50px;
            height: 4px;
            background: #79C8C7;
            right: 88%;
            top: -54px;
            background-color: #F67E7E;


        }
    }

    &__title {
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #F67E7E;
        width: 445px;
        margin-bottom: 16px;

    }

    &__background {
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            width: 56px;
            height: 56px;
            background-color: #2C6269;
            position: absolute;
            top: 20px;
            left: -15%;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
        }





    }

    &__text {
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.8);
        mix-blend-mode: normal;
        width: 445px;
        margin-bottom: 32px;



    }
}