.started {
    background-color: #F67E7E;
    padding-top: 72px;

    &__container {
        max-width: 917px;
    }

    &__wrapper {}

    &__inner-wrapper {}

    &__list {
        display: flex;

        justify-content: space-between;
    }

    &__item {}

    &__heading {
        position: relative;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #012F34;
        margin-bottom: 76px;

        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 200px;
            height: 244px;
            background-image: url(./../images/started.svg);
            right: calc(50% - -57%);
            top: calc(-42%);
            background-repeat: no-repeat;


        }
    }

    &__btn {
        padding: 8px 32px;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 24px;
        background: none;
        cursor: pointer;
        transition: all .4s ease;

        &:hover {
            background: #012F34;
            color: #FFFFFF;
        }

    }
}

@media only screen and (max-width:768px) {
    .started {
        background-color: #F67E7E;
        padding-top: 72px;

        &__container {
            max-width: 768px;
        }

        &__wrapper {}

        &__inner-wrapper {}

        &__list {
            text-align: center;
            justify-content: center;
            gap: 31px;
        }

        &__item {}

        &__heading {
            font-size: 32px;
            line-height: 32px;

            &::before {
                right: calc(50% - -39%);
                top: calc(-111%);


            }
        }

        &__btn {
            padding: 8px 32px;
            font-family: 'Livvic';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
            border: 2px solid #FFFFFF;
            border-radius: 24px;
            background: none;
            cursor: pointer;
            transition: all .4s ease;

            &:hover {
                background: #012F34;
                color: #FFFFFF;
            }

        }
    }
}