.step {
    background-color: #004047;

    &__container {
        max-width: 1110px;
        padding-top: 140px;


    }

    &__wrapper {}

    &__inner-wrapper {
        text-align: center;
    }

    &__heading {
        position: relative;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        width: 932px;
        margin: 0 auto;
        margin-bottom: 92px;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 100px;
            height: 100px;
            background-image: url(./../images/kvadrat.svg);
            right: calc(50% - -62%);
            top: calc(-146%);
            background-repeat: no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 44px;
            background-image: url(./../images/liniya.svg);
            right: 107%;
            top: -91%;
            
        }
    }

    &__span {
        color: #79C8C7;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__list {}

    &__text {
        position: relative;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        width: 350px;
        margin-bottom: 24px;

        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 100px;
            height: 100px;
            background-image: url(./../images/two.svg);
            right: calc(50% - 18%);
            top: calc(-56%);
            background-repeat: no-repeat;

        }
    }

    &__title {
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #79C8C7;
        margin-bottom: 2px;

    }

    &__text-title {
        font-family: 'Livvic';
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
        margin-bottom: 32px;
    }

    &__images {
        position: relative;
        margin-bottom: 151px;
    }

    &__position {
        position: relative;
        

        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 200px;
            height: 100px;
            background-image: url(./../images/step_position.svg);
            right: calc(50% - 79%);
            top: calc(912%);
            background-repeat: no-repeat;

        }
        &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 44px;
            background-image: url(./../images/liniya.svg);
            right: -28%;
            top: 1215%;
            
        }
    }
}